<div class="ui-page-content">
  <div class="ui-index-page-equation">
    <div>Ember</div>
    <div>
      <div class="ui-plus">+</div>
      <div>Electron</div>
    </div>
    <hr/>
    <div>Native Desktop</div>
    <div>Applications</div>
  </div>
  <div class="ui-app-url">
    Slides available at<br/>
    <a href="https://github.com/bendemboski/talk-ember-electron" target="_blank" onclick={{action (open-external)}}>https://github.com/bendemboski/talk-ember-electron</a>
  </div>
</div>

<a href="#" class="ui-invisible">prev</a>
{{#link-to 'slide' '0' class="ui-next-link"}}next{{/link-to}}
